.c-button {
  border: none;
  padding: $space_l $space_l;

  & a {
    display: block;
  }

  &--submit {
    display: block;
    background-color: $background-color_button01;
    margin: 0 auto;
    margin-top: $space_xxl;
    width: 50%;
    @include mq(sm) {
      width: 80%;
    }
  }

  &--profileEdit {
    text-align: center;
    background-color: $background-color_button02;
    font-size: $font-size_l;
    border: none;
    margin-top: $space_xl;
    @include mq(sm) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &--heart {
    border: none;
    outline: none;
    background: transparent;
    &:focus {
      outline: 0;
    }
  }

  &--follow {
    padding: $space_m $space_xxl;
    width: 150px;
    margin-right: $space_m;
    border-radius: 5px;
    &--before {
      background-color: $background-color_follow_before;
      color: black;
    }
    &--after {
      background-color: $background-color_follow_after;
      color: white;
    }
    
    @include mq(sm) {
      padding: 15px $space_xxl;
    }
  }

  &--review {
    background-color: $background-color_button01;
    width: 200px;
    margin-top: $space_l;
    border-radius: 5px;
    @include mq(sm) {
      width: 100%;
    }
  }

  &--google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color_google;
    color: white;
    margin: 0 auto;
    margin-top: $space_xxl;
    width: 30%;
    padding: $space_m $space_m;
    border-radius: 50px;
    & a {
      color: white;
    }
    @include mq(md) {
      width: 45%;
    }
    @include mq(sm) {
      width: 70%;
    }
  }

}



