.c-form {
  text-align: center;
  outline: none;

  &--container {
    text-align: center;
  }

  &--title {
    margin-bottom: $space_xxxl;
    font-family: $font-family_title;
  }

  &--control {
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: $space_m $space_m;
    margin-bottom: $space_xl;
    outline: none;
  }

  &--link {
    text-align: center;
    margin-top: $space_l;
  }

  &--radius {
    border-radius: 20px;
  }
}