.c-post {
  text-align: center;

  &--tags::before {
    content: "#";
  }

  &--imageBox {
    text-align: center;
    margin: 0 auto;
    margin-top: $space_l;
    margin-bottom: $space_xxl;
    width: 300px;
    height: 300px;
    background-color: $background-color_preview;
    display: flex;
    align-items: center;
    position: relative;
    @include mq(sm) {
      width: 100%;
    }
  }

  &--preview {
    width: 100%;
    height: 300px;
  }

  &--plus {
    position: relative;
    top: 125px;
    
  }
  &--img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    &--radius{
      border-radius: 50%;
    }
  }

}