.c-product {

  &--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--end {
      justify-content: flex-end;
      margin-left: auto;
    }

    &--between {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: $space_l;
    }

  }
  
  &--date {
    font-size: $font-size_s;
  }

  &--price {
    font-size: $font-size_l;
    @include mq(sm) {
      font-size: $font-size_default;
    }
  }
}