.c-shadow {

  &--image {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(75, 74, 74, 0.6);
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(0.9);
      transition-duration: 0.3s;
    }
  }
}