.p-comment {

  &--container {
    width: 80%;
    height: 100%;
    padding: $space_l $space_xxxl;
    margin: 50px auto;
    background-color: $background-color_detail;

    @include mq(sm) {
      width: 100%;
      padding: 0;
    }

    @include mq(md) {
      width: 100%;
    }

    @include mq(lg) {
      width: 100%;
    }
  }

  &--count {
    width: 100%;
  }

  &--commentCount {
    margin-bottom: $space_xl;
  }

  &--countTimes {
    font-size: $font-size_xl;
    @include mq(sm) {
      padding: $space_l $space_m;
    }
  }


  &--area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(sm) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &--reviewButton {
    margin-top: $space_l;
    margin-bottom: $space_l;

  }

  &--box {
    width: 550px;
    padding: $space_l;
    padding-bottom: $space_l;
    margin-top: $space_l;

    @include mq(sm) {
      width: 100%;
    }

    @include mq(md) {
      width: 100%;
    }

    @include mq(lg) {
      width: 100%;
    }
  }

  &--img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &--title {
    margin-top: $space_l;
    font-weight: bold;

    & p {
      font-size: $font-size_20;
    }
  }

  &--star {
    margin-bottom: $space_l;
  }

  &--body {
    line-height: 1.8;
    word-wrap: break-word;

    @include mq(sm) {
      padding: 10px;
    }
  }
}