.p-detail {

  &--imageBox img {
    width: 600px;
    height: 500px;
    @include mq(sm) {
      width: 300px;
      height: 300px;
    }
  }

  &--body {
    width: 40%;
    background-color: $background-color_detail;
    padding-left: $space_s;
    padding-top: $space_s;
    @include mq(sm) {
      width: 85%;
    }
  }

  &--title {
    margin-left: $space_s;
    margin-top: $space_l;
    margin-bottom: $space_l;
  }

  &--review {
    padding: $space_m;
    margin-top: $space_m;
  }

  &--tag {
    margin: $space_m;
  }

  &--tagList {
    padding-right: $space_m;
    background-color: $background-color_tag;
    padding: $space_s $space_m;
    border-radius: 5px;
    border: none;
  }

  &--heart {
    margin: $space_m;
  }

  &--price {
    display: flex;
    justify-content: flex-end;
    padding-right: $space_m;
    font-size: $font-size_xl;

    @include mq(sm) {
      padding-right: 0;
    }
  }

  &--purchase{
    display: flex;
    justify-content: flex-end;
    @include mq(sm) {
      display: block;
      text-align: center;
      padding-right: $space_s;
    }
  }

  &--button {
    display: inline-flex;
    justify-content: flex-end;
    padding: $space_m $space_l;
    margin-right: $space_m;
    font-size: $font-size_l;
    background-color: $background-color_button01;
    @include mq(sm) {
      display: block;
      margin-right: 0;
    }
  }


}