.p-panel {

  &--box {
    width: 30%;
    margin-top: $space_xxl;

    @include mq(lg) {
      width: 45%;
    }

    @include mq(md) {
      width: 45%;
    }

    @include mq(sm) {
      width: 42%;
      margin-bottom: $space_l;
      margin-right: 15px;
      margin-left: 15px;
    }

    &--Mypage {
      width: 45%;
      margin-top: $space_xxl;

      @include mq(sm) {
        width: 40%;
        margin-bottom: $space_l;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }


  &--image img {
    width: 100%;
    height: 350px;
    object-fit: cover;

    @include mq(sm) {
      width: 150px;
      height: 150px;
    }
  }

  &--body {
    box-sizing: border-box;
  }

  &--content {
    display: flex;
    justify-content: space-between;
  }

  &--title {
    margin-top: $space_l;
    margin-bottom: $space_l;
    font-family: $font-family_sub02;

    @include mq(sm) {
      font-size: $font-size_m;
      overflow: hidden;
      width: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &--iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: $space_m;
    margin-bottom: $space_m;
  }

  &--heart {
    margin-right: $space_m;
    margin-top: $space_l;

    @include mq(sm) {
      margin-right: 0;
    }

    &--red {
      color: red;
    }
  }

  &--iconArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &--edit {
    margin-right: 0;
    @include mq(sm) {
      font-size: 24px;
    }

  }

  &--trash {
    display: inline-block;
    margin-bottom: 0;
    @include mq(sm) {
      font-size: $font-size_20;
    }

    &--button {
      border: none;
      background: none;
    }
  }

  &--snsTitle {
    text-align: center;
  }

  &--snsIcon {
    text-align: center;
  }
}