body {
  color: $font-color_default;
  background-color: $background-color_main;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}