.l-container {
  width: 100%;
  height: 100%;


  &--wrapper {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include mq(sm) {
      padding-left: $space_m;
      padding-right: $space_m;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

    }
  }
}