.l-container {
  width: 100%;
  height: 100%;


  &--wrapper {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;

    @include mq(md) {
      padding-left: $space_xl;
      padding-right: $space_xl;
    }

    @include mq(sm) {
      padding-left: $space_m;
      padding-right: $space_m;
    }

  }

  &--flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &--between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--between::after {
    content: '';
    width: 30%;
    display: block;

    @include mq(md) {
      content: '';
      width: 50%;
      display: block;
    }
  }


  &--box {
    justify-content: center;
  }

  &--form {
    width: 50%;
    margin: 0 auto;
    @include mq(lg) {
      width: 80%;
    }
    @include mq(md) {
      width: 75%;
    }

    @include mq(sm) {
      width: 80%;
    }
  }

  &--postForm {
    display: flex;
    justify-content: center;
  }

  &--mypage {
    width: 50%;
    margin: 0 auto;
    @include mq(md) {
      width: 50%;
    }

    @include mq(sm) {
      width: 100%;
    }
  }
}