/* top */
.u-mt_0 {
  margin-top: 0;
}
.u-mt_m {
  margin-top: $space_m;
}

.u-mt_l {
  margin-top: $space_l;
}

.u-mt_xl {
  margin-top: $space_xl;
}

.u-mt_xxl {
  margin-top: $space_xxl;
}

.u-mt_xxxl {
  margin-top: $space_xxxl;
}

/* bottom */
.u-mb_m {
  margin-bottom: $space_m;
}

.u-mb_l {
  margin-bottom: $space_l;
}

.u-mb_xl {
  margin-bottom: $space_xl;
}

.u-mb_xxl {
  margin-bottom: $space_xxl;
}

.u-mb_xxxl {
  margin-bottom: $space_xxxl;
}

/* right */
.u-mr_m {
  margin-right: $space_m;
}

.u-mr_l {
  margin-right: $space_l;
}

.u-mr_xl {
  margin-right: $space_xl;
}

.u-mr_xxl {
  margin-right: $space_xxl;
}

.u-mr_xxxl {
  margin-right: $space_xxxl;
}

/* left */
.u-ml_m {
  margin-left: $space_m;
}

.u-ml_l {
  margin-left: $space_l;
}

.u-ml_xl {
  margin-left: $space_xl;
}

.u-ml_xxl {
  margin-left: $space_xxl;
}

.u-ml_xxxl {
  margin-left: $space_xxxl;
}

/* margin auto */

.u-m_auto {
  margin: 0 auto;
}