/* top */
.u-pt_0 {
  padding-top: 0;
}
.u-pt_m {
  padding-top: $space_m;
}

.u-pt_l {
  padding-top: $space_l;
}

.u-pt_xl {
  padding-top: $space_xl;
}

.u-pt_xxl {
  padding-top: $space_xxl;
}

.u-pt_xxxl {
  padding-top: $space_xxxl;
}

.u-pt_80 {
  padding-top: $space_80;
}

.u-pt_40 {
  padding-top: $space_xxl;
}

/* bottom */
.u-pb_m {
  padding-bottom: $space_m;
}

.u-pb_l {
  padding-bottom: $space_l;
}

.u-pb_xl {
  padding-bottom: $space_xl;
}

.u-pb_xxl {
  padding-bottom: $space_xxl;
}

.u-pb_xxxl {
  padding-bottom: $space_xxxl;
}

/* right */
.u-pr_m {
  padding-right: $space_m;
}

.u-pr_l {
  padding-right: $space_l;
}

.u-pr_xl {
  padding-right: $space_xl;
}

.u-pr_xxl {
  padding-right: $space_xxl;
}

.u-pr_xxxl {
  padding-right: $space_xxxl;
}

/* left */
.u-pl_m {
  padding-left: $space_m;
}

.u-pl_l {
  padding-left: $space_l;
}

.u-pl_xl {
  padding-left: $space_xl;
}

.u-pl_xxl {
  padding-left: $space_xxl;
}

.u-pl_xxxl {
  padding-left: $space_xxxl;
}


.u-pt_0 {
  padding-top: 0;
}

.u-pb_0 {
  padding-bottom: 0;
}

.u-pr_0 {
  padding-right: 0;
}

.u-pl_0 {
  padding-left: 0;
}